@model BusinessViewModel
<form asp-controller="Events" asp-action="CreateLocation">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-4 control-label">Please Select State:</label>
            <div class="col-md-8">
                <input asp-for="Listing.Location[0]" class="form-control" />
                <span asp-validation-for="Listing.Location[0]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">What county?</label>
            <div class="col-md-8">
                <input asp-for="Listing.Location[1]" class="form-control" />
                <span asp-validation-for="Listing.Location[1]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">What city?</label>
            <div class="col-md-8">
                <input asp-for="Listing.Location[2]" class="form-control" />
                <span asp-validation-for="Listing.Location[2]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">What side of town are you on?</label>
            <div class="col-md-8">
                <input asp-for="Listing.Location[3]" class="form-control" />
                <span asp-validation-for="Listing.Location[3]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">What neighborhood, borough, or section of the city is this?</label>
            <div class="col-md-8">
                <input asp-for="Listing.Location[4]" class="form-control" />
                <span asp-validation-for="Listing.Location[4]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">What is your street address?</label>
            <div class="col-md-8">
                <input asp-for="Listing.Location[5]" class="form-control" />
                <span asp-validation-for="Listing.Location[5]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Any landmarks or other location assistance for finding it?</label>
            <div class="col-md-8">
                <input asp-for="Listing.Location[6]" class="form-control" />
                <span asp-validation-for="Listing.Location[6]" class="text-danger"></span>
            </div>
        </div>
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>