<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 right-column">
            <a href="#" onclick="getLocationPartial('InCity')">In a large city</a>
        </div>
        <div class="col-md-10">
            <p>Big enough so that the city name by itself isn't that helpful in finding you</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 right-column">
            <a href="#" onclick="getLocationPartial('NYC')">NYC</a>
        </div>
        <div class="col-md-10">
            <p>Click here if your business is in one of the five Boroughs of New York City</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 right-column">
            <a href="#" onclick="getLocationPartial('NearCity')">Near a large city</a>
        </div>
        <div class="col-md-10">
            <p>By this we mean that you are close enough so that Lookers might be willing to drive out</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 right-column">
            <a href="#" onclick="getLocationPartial('Town')">Small town or rural</a>
        </div>
        <div class="col-md-10">
            <p>You are far from the madding crowds</p>
        </div>
    </div>
</div>
