<h1>Admin Console</h1>
<hr/>
<ul>
    <li>@Html.ActionLink("Edit Forms", "FormIndex")</li>
    @if (User.IsInRole("bond"))
    {
        <li>@Html.ActionLink("Seed", "Index", "Seed")</li>
    }
</ul>
