<h1>INDIVIDUAL MUSICIANS</h1>   
<p>
    Looking2 appreciates anyone who gets up in front of a crowd to entertain, inform, or otherwise enrich their lives.  
    That's why we give you exactly the same exposure as anyone else because if all Looking2 accomplishes is to help talent get recognized, 
    its founder will be a happy man.  Note: there IS room for two or three names in the who is playing box in case you have a friend or guest along.
</p>
