<h1>MULTIPLE ACTS AT THE SAME VENUE</h1>
<p>
    The headliner and the venue get top billing by using this form. But, 
    it also allows Lookers to find artists appearing as guests or opening acts, 
    in keeping with Looking2's philosophy of leveling the playing field.
</p>
