<h1>LIST A BENEFIT</h1>
<p>
    Fundraisers and benefits deserve the widest possible notice, so that the most people possible can contribute to the cause.
    Looking2 wants to do its part by helping generous Lookers out there find people and programs they'd like to help or contribute to,
    whether they can attend the event or not.
</p>
