<h1>MULTIPLE ARTISTS - SAME DAY</h1>
<p>
    Looking2 recognizes that the venue enhances some events and can be an important part of the experience so it gives the venue equal
    billing where that's appropriate (otherwise, the venue is usually less prominent).  In addition, this screen lets you recognize the opening acts,
    guests, and/or other bands as well.
</p>