<h1>EXHIBIT and/or EXHIBITORS</h1>
<p>
    This form works best for no more than three exhibitors. If it is for a single artist, we encourage using his or her name, 
    otherwise it might be best to just go with the name of the exhibition. The venue will show up in the first line as well 
    to make it easier for Lookers to check to see if it's worth swinging by.
</p>