@{ 
    ViewData["Title"] = "Crap";
}
<h1>LIST A GIG</h1>
<p>
    Looking2 has a soft spot in the heart of it's database for gig bands and local acts,
    along with the bars &amp; taverns that give them someplace to play. That's why we give you
    <em>exactly the same exposure</em> as anyone else. If Looking2 accomplishes nothing more than helping
    local bands play to fuller and fuller houses, its founder will be a happy man. GigListings will always be free.
    If you're not a local band, click here.
</p>
