<h1>TROUPES, COMPANIES &amp; ORCHESTRAS</h1>
<p>
    For when WHO is putting on the performance is just as important as WHAT they are performing; 
    a looker might want to know if Swan lake is being put on by the local kindergarten or the Bolshoi, for example.
</p>