<h1>LIST ANY KIND OF EVENT</h1>
<p>
    This screen is for any event that doesn't slot into one of the other choices - it's pretty much just the name of the event, where and when it's held, and cost information.  Short & sweet, and available to anyone in the whole wide world with an internet connection.  That's what Looking2 is all about; extending your reach!
</p>




