<h1>LIST A SERIES EVENT</h1>
<p>
    Looking2 recognizes that events can be notable for being part of a series that is well-recognized, or has cultivated a reputation for quality, like a summer concert series or a lecture series, etc., and offers this screen to highlight that fact
</p>