@model EventDetailsViewModel
@{ 
    ViewData["Title"] = "Event Details";
}

<h1>@ViewData["Title"]</h1>
<hr />

@Html.Partial("_DetailsDisplay")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 ">
            <a asp-action="Index">Back to List</a>
        </div>
            @{ 
                var id = Model.Id;
            }
            @if (User.IsInRole("admin"))
            {
                <div class="col-md-2">
                    <a asp-action="Edit" asp-route-id="@id">Edit Listing</a>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <a asp-action="Delete" asp-route-id="@id">Delete Listing</a>
                    }
                </div>
            }
</div>