@model EventListing
@{
    @ViewData["Title"] = "Benefit Listing";
}


<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 centered-column">
                <h1>LIST A BENEFIT</h1>
                <p>
                    Fundraisers and benefits deserve the widest possible notice, so that the most people possible can contribute to the cause.  
                    Looking2 wants to do its part by helping generous Lookers out there find people and programs they'd like to help or contribute to, 
                    whether they can attend the event or not.
                </p>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-4 control-label">What is the name of the event?</label>
            <div class="col-md-8">
                <input asp-for="Titles[0]" class="form-control" />
                <span asp-validation-for="Titles[0]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Who does it benefit?</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[0]" class="form-control" />
                <span asp-validation-for="Descriptions[0]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">In a word or two, what kind of an event is it?</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[1]" class="form-control" />
                <span asp-validation-for="Descriptions[1]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">What ages is it for?</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[2]" class="form-control" />
                <span asp-validation-for="Descriptions[2]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Website or phone number to contact for information</label>
            <div class="col-md-8">
                <input asp-for="Contact[0]" class="form-control" />
                <span asp-validation-for="Contact[0]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Where is it being held (name of venue)?</label>
            <div class="col-md-8">
                <input asp-for="Titles[1]" class="form-control" />
                <span asp-validation-for="Titles[1]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Please provide ticket/cost info here</label>
            <div class="col-md-8">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-md-4 control-label">Ticket info</label>
            <div class="col-md-8">
                <input asp-for="AdmissionInfo" class="form-control" />
                <span asp-validation-for="AdmissionInfo" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <label class="col-md-4 control-label">If you want to highlight a specific date, enter it here (MM/DD/YY)</label>
            <div class="col-md-8" data-provide="datepicker">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Please enter the date range for the event or if it's one day or one night only:</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[3]" class="form-control" />
                <span asp-validation-for="Descriptions[3]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">And now the time</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[4]" class="form-control" />
                <span asp-validation-for="Descriptions[4]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Please send donations to:</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[5]" class="form-control" />
                <span asp-validation-for="Descriptions[5]" class="text-danger"></span>
            </div>
        </div>

        

        @*<div class="form-group">
            <label class="col-md-4 control-label">Tell us why we should come</label>
            <div class="col-md-8">
                <input asp-for="Brag" class="form-control" />
                <span asp-validation-for="Brag" class="text-danger"></span>
            </div>
        </div>*@
        <p>After you finish with the (optional) field below, click <em>Here</em> to add your location information</p>
        <p>Tell Us More (you might want to copy-and-paste the About-Us page from the website:</p>
        <div class="form-group">
            <label class="col-md-2"></label>
            <div class="col-md-10">
                <textarea rows="5" cols="300" asp-for="LongDescription" class="form-control"></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.EventCategory)
    @Html.HiddenFor(model => model.EventType)
    @Html.HiddenFor(model => model.Location[0])
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}