@model IEnumerable<Looking2.Web.ViewModels.EventDetailsViewModel>
@{
    ViewData["Title"] = "Events";
}
<h1>Events</h1>
@Html.Partial("_SearchForm")

<div id="event-listing-results">
    @Html.Partial("EventListings", Model)
</div>

@section Scripts{
    <script type="text/javascript">
        $('#search-form').submit(function(event) {
            search("/Events/Search", "#event-listing-results");
            event.preventDefault();
        });
    </script>
}