@{
    ViewData["Title"] = "About Us";
}



<div class="container-fluid text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-6" style="padding:0 30px;">
            <h3>Richard Neidinger</h3>
            <h4>Executive Officer</h4>
            <img src="~/images/rich-crop.JPG" height="250" style="display:block;margin:10px auto;"/>
            <p>
                An attorney by training, Rich developed the idea behind Looking2 a decade ago out of frustration with the constraints of advertising.  
                It is, of course, a necessary evil, but so much money spent on it is literally thrown away.  Who saves the ad they see in print, 
                or remembers the one they heard or saw?  The signs you pass as you drive along, or those that pass you, carefully painted on trucks, 
                are of little use when it comes time to actually find them.  So he set about developing a database that would capture all of those 
                carefully-chosen buzz words so that people could actually find them.  He is based in Pittsburgh, PA.
            </p>
        </div>

        <div class="col-md-6" style="padding:0 30px;">
            <h3>John Bond</h3>
            <h4>Technology Officer</h4>
            <img src="~/images/john.jpg" height="250" style="display:block;margin:10px auto;"/>
            <p>
                Despite working in just about ever technical field, and contrary to what you might expect from a tech geek, John is people-oriented and out-spoken.
                After 10 years of working for "capitalist pigs" (his own words), he realized the corporate world was too slow and stubborn for his ambition. 
                
                For John, Looking2 has never been about making money. He joined forces with Rich in 2015 to help create something 
                people would truly love and benefit from. He aims to empower the hard-working and admirable community of entrepreneurs, 
                small businesses, and the self-employed with an affordable and reliable tool to expand their business. He is based in Denver, CO.
            </p>
        </div>
    </div>
</div>
