@{
    ViewData["Title"] = "Why Us";
}
<h1>Why Us?</h1>
<h2>Looking2 Offers several advantages over sites that may at first seem simlar...</h2>

<h3>But, we don't try to do what they do and they do not do what we do.</h3>
<p>
    Let's start with the obvious one: Google.  Sure it can find 1,374,537 results in 0.386 seconds, but what does that mean to you, 
    either as a Looker or a Lister?  No one looks past the first one or two pages, which are front-loaded with "sponsored" (i.e., extra-cost) listings. 
    If you are even on Page 5, you've probably not been "found" in any meaningful sense.  For those who are looking for someplace to eat right now, 
    Google's Map cannot be beat, but if you are looking to find someplace for your date next weekend, we might be able to help you plan better.
</p>

<p>
    Looking2 doesn't work like that (and is a directory, not a search engine); our default sort order is the order in which our Listings were created
    in our database.  The early bird gets that worm.  But Lookers can then sort their search results and narrow them down far easier than they can with 
    Google because Google's business model appears to be one of over-inclusiveness, at least as far as we see it.  Not to mention you can't sort their results, 
    because those who paid extra wouldn't be happy with that.
</p>

<p>
    We don't provide for reviews or star rankings, either, like Yelp, because, frankly, we consider those suspect,  despite laudable efforts to police them.  
    People being people, the rationale for however many stars given is simply too variable for our liking.  Perhaps more importantly, you don't have to "claim your business"
    (isn't it already yours?), which, reportedly, can lead to sales calls; with Looking2, a business pays a small fee and that's it (caveat: at least for now - we won't say that annual 
    renewals will never be implemented for future Listers but those Listing during our Launch Period will never be billed again).
</p>

<p>
    Nor do we charge for searching our database like Angie's List (but good for them for thinking of that); 
    searching our database is free and Lookers can sort their search results and/or narrow them down by location or business description 
    (note: we don't use Zip Codes to do that - who knows Zip Codes well enough for that to be useful? - we use neighborhoods, parts of town, landmarks, etc ).
</p>

<p>
    Finally, Looking2 avoids visual chaos, like we associate with Craigslist; our results are presented cleanly and clearly with our unique harmonization process
    that eliminates the "LOOK AT ME!!!" shouting that leaves you less able to look at anyone.  Nor do we break the country (and everything else) into a thousand 
    pieces like they do.  Find any Listing you might be interested in, anywhere in the country (and eventually, the world) from one entry point.
</p>

<p>
    That said, Looking2 is NOT advertising - you still need to use print and media ads of some sort, signs on your truck or in front of your business, 
    business cards, handouts, flyers, billboards, etc, etc, etc, but ...
</p>

<h3>
    Now you have someplace where people can look for your carefully chosen words and phrases and find them long after they've forgotten  exactly what your sign said.
</h3>