
                <h1>ALTERNATIVE HEALTH CARE PROVIDERS LIST HERE</h1>
                <p>
                    Looking2 welcomes Listings for alternative health care providers because Looking2 wants to make it easier to 
                    find the care that Lookers might need or be interested in, especially if it is for specialized treatment or for a rare or unusual situation.  
                </p>
         