<h1>LIST CREATORS OF ART</h1>
<p>
    It is difficult and expensive for artists, artisians, craftsmen, musicians, etc to get their name and contact information out in front of people who are willing to 
    compensate them for their talents; quite possibly, some people looking to find you don't even know where to start.  
    Looking2 is looking to change that by leveling the internet playing field and making it easier for you to be found.  Musicians might want to use this screen.
</p>