
                <h1>HEALTH CARE PROVIDERS LIST HERE</h1>
                <p>
                    Listings for health care providers with MD, DO, DC and nursing degrees are FREE because Looking2 wants to make it easier to find the care that
                    Lookers might need or be interested in, especially if it is for specialized treatment or for a rare or unusual condition.
                    Please consider making separate Listings for each treatment or condition so they will be easier to find - there is no extra charge for doing so.
                </p>
         