
                <h1>LIST INFORMATION &amp; SUPPORT</h1>
                <p>
                    There is a ton of valuable information out there on the Internet, but it's not always easy to find without expensive - and tricky - SEO (search engine optimization).
                    Looking2 gives people a way to search for the buzz words you've picked to describe your website that is both free for them and easy for you.
                    We drill down from the general to the specific to increase the chances that Listings can be found regardless of how general or specific the Looker 
                    looking to find particular type of information is, and we do not track searches so that no one will know on our end if anyone is looking for anything in particular.
                </p>
          