
                <h1>LIST A PLACE TO EAT</h1>
                <p>
                    Looking2 likes restaurants as much as it does musicians and cool shops and appreciates that while an eatery might be okay once the word gets out, 
                    it can be too hard to get the word out.  So we offer the chefs of the world's restaurants a place to list their establishment, the meals they serve, 
                    and what brings people in where it is accessible to anyone with an internet connection.  Use your smart phone to find someplace to eat right now,
                    but use Looking2 to plan a dinner date in the future.
                </p>
