<h1>LIST SHOP OR STORE</h1>
<p>
    Looking2 loves shopping!  But how do ordinary people know all that is out there, tucked away on side streets or in neighborhoods across the city?  
    Advertising is expensive and easily forgotten (really, how many people clip your ad and file it away for future reference?), so here's is a way to put your 
    wares out to the entire world! Plus you can make as many Listings (up to ten) as you need to cover all that you offer - at no extra charge.  
    Make a separate Listing for each of your product lines, or just for something rare and unique that maybe only you carry.
</p>