@model BusinessDetailsViewModel
@{
    ViewData["Title"] = "Event Details";
}

<h1>@ViewData["Title"]</h1>
<hr />

@Html.Partial("_DetailsDisplay")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 ">
            <a asp-action="Index">Back to List</a>
        </div>

        <div class="col-md-4">
        </div>

        <div class="col-md-6">
            @{
                var id = Model.Id;
            }
            @if (User.IsInRole("admin"))
            {
                <a asp-action="Delete" asp-route-id="@id">Delete Listing</a>
            }
        </div>
    </div>

</div>