@model BusinessListing

@{
    ViewData["Title"] = "Health Care Listing";
}

<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 centered-column">
                <h1>ALTERNATIVE HEALTH CARE PROVIDERS LIST HERE</h1>
                <p>
                    Looking2 welcomes Listings for alternative health care providers because Looking2 wants to make it easier to 
                    find the care that Lookers might need or be interested in, especially if it is for specialized treatment or for a rare or unusual situation.  
                </p>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-4 control-label">What is your role as an HCP?</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[0]" class="form-control" />
                <span asp-validation-for="Descriptions[0]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Please enter your last name:</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[1]" class="form-control" />
                <span asp-validation-for="Descriptions[1]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Please enter your first name &amp; middle intial:</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[2]" class="form-control" />
                <span asp-validation-for="Descriptions[2]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Please enter your degree(s):</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[3]" class="form-control" />
                <span asp-validation-for="Descriptions[3]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">What is the name of your practice?</label>
            <div class="col-md-8">
                <input asp-for="Titles[0]" class="form-control" />
                <span asp-validation-for="Titles[0]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">What field of medicine/health care do you focus on?</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[4]" class="form-control" />
                <span asp-validation-for="Descriptions[4]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Enter conditions treated or treatments offered here:</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[5]" class="form-control" />
                <span asp-validation-for="Descriptions[5]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Your practice's website:</label>
            <div class="col-md-8">
                <input asp-for="Contact[0]" class="form-control" />
                <span asp-validation-for="Contact[0]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Please enter up to 2 phone numbers:</label>
            <div class="col-md-8">
                <input asp-for="Contact[1]" class="form-control" />
                <span asp-validation-for="Contact[1]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Please enter your email if you want:</label>
            <div class="col-md-8">
                <input asp-for="Contact[3]" class="form-control" />
                <span asp-validation-for="Contact[3]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Brag a little(certifications, affiliated hospitals, etc)</label>
            <div class="col-md-8">
                <input asp-for="Brag" class="form-control" />
                <span asp-validation-for="Brag" class="text-danger"></span>
            </div>
        </div>

        <p>After you finish with the (optional) field below, click <em>Here</em> to add your location information</p>
        <p>Tell Us More (you might want to copy-and-paste the About-Us page from the website:</p>
        <div class="form-group">
            <label class="col-md-2"></label>
            <div class="col-md-10">
                <textarea rows="5" cols="300" asp-for="LongDescription" class="form-control"></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.BusinessCategory)
    @Html.HiddenFor(model => model.BusinessType)
    @Html.HiddenFor(model => model.Location[0])
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}