@model IEnumerable<Looking2.Web.ViewModels.BusinessDetailsViewModel>
@{ 
    ViewData["Title"] = "Businesses";
}
<h1>Businesses</h1>
@Html.Partial("_SearchForm")

<div id="business-listing-results">
    @Html.Partial("BusinessListings", Model)
</div>

@section Scripts{
    <script type="text/javascript">
        $('#search-form').submit(function(event) {
            search("/Businesses/Search", "#business-listing-results");
            event.preventDefault();
        });
    </script>
}
    
