@model BusinessListing

@{
    ViewData["Title"] = "Lawyer Listing";
}

<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 centered-column">
                <h1>LAWYERS LIST HERE</h1>
                <p>
                    Listings for lawyers are restricted to one field of law per listing so that Lookers who don't necessarily
                    know those distinctions can find legal assistance by better known 'buzz words' they have been exposed to.  
                    It is easy to make additional Listings and there is no extra charge for doing so.
                </p>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label class="col-md-4 control-label">Please enter your last name:</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[0]" class="form-control" />
                <span asp-validation-for="Descriptions[0]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Please enter your first name &amp; middle initial:</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[1]" class="form-control" />
                <span asp-validation-for="Descriptions[1]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">What is the name of your law firm?</label>
            <div class="col-md-8">
                <input asp-for="Titles[0]" class="form-control" />
                <span asp-validation-for="Titles[0]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">In which states are you licensed to practice?</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[2]" class="form-control" />
                <span asp-validation-for="Descriptions[2]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">What field of law is this listing for?</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[3]" class="form-control" />
                <span asp-validation-for="Descriptions[3]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">What 'buzz words' would you put in an ad?</label>
            <div class="col-md-8">
                <input asp-for="Descriptions[4]" class="form-control" />
                <span asp-validation-for="Descriptions[4]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">What is your website?</label>
            <div class="col-md-8">
                <input asp-for="Contact[0]" class="form-control" />
                <span asp-validation-for="Contact[0]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Phone (optional):</label>
            <div class="col-md-8">
                <input asp-for="Contact[1]" class="form-control" />
                <span asp-validation-for="Contact[1]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Email (optional):</label>
            <div class="col-md-8">
                <input asp-for="Contact[2]" class="form-control" />
                <span asp-validation-for="Contact[2]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Brag a little(certifications, affiliated hospitals, etc)</label>
            <div class="col-md-8">
                <input asp-for="Brag" class="form-control" />
                <span asp-validation-for="Brag" class="text-danger"></span>
            </div>
        </div>

        <p>After you finish with the (optional) field below, click <em>Here</em> to add your location information</p>
        <p>Tell Us More (you might want to copy-and-paste the About-Us page from the website:</p>
        <div class="form-group">
            <label class="col-md-2"></label>
            <div class="col-md-10">
                <textarea rows="5" cols="300" asp-for="LongDescription" class="form-control"></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.BusinessCategory)
    @Html.HiddenFor(model => model.BusinessType)
    @Html.HiddenFor(model => model.Location[0])
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}