<h1>Seed Actions</h1>
<ul>
    <li>@Html.ActionLink("Seed Categories", "SeedCategories")</li>
    <li>@Html.ActionLink("Seed Events", "SeedEvents")</li>
    <li>@Html.ActionLink("Seed Businesses", "SeedBusinesses")</li>
    <li>@Html.ActionLink("Seed All", "SeedAll")</li>
</ul>




<hr/>

<h1>Delete Actions</h1>
<hr />
