@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ops! We ran into a problem.</h1>
<h2 class="text-danger">An error occurred while processing your request</h2>
<p>If you continue to experience this problem, please contact us: looking2.net@gmail.com</p>
